@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

/* -------------- SIDEBAR -------------- */
.sidebar {
    width: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #F3F5F7;
    padding: 0 16px;
    overflow: auto;
}


.side-nav__item {
    list-style: none;
    color: #596780;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 0 14px 16px;
    border-radius: 10px;
    transition: all .4s;
    cursor: pointer;
    white-space: nowrap;
    border-style: solid;
    border-color: #7C5CFC;
    border-width: 1px;
    box-shadow: 0 0 10px #7C5CFC;
    margin-bottom: 20px;

}


.side-nav__item:hover {
    background-color: #7C5CFC;
    color: white;

}


.footer-copyright {
    background-color: #52527a;
    color: #ffffff;
    padding: 15px;

    text-transform: capitalize;
    text-align: center;
}

.footer-copyright p {
    margin-bottom: 0px;
}

.footer-copyright p a {
    color: #ffffff;
    text-decoration: underline;
}


/* -------------- Common -------------- */
a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/* -------------- Common -------------- */
body.dark {
    background-color: #292c35;
    color: #ffffff;
}

span.dark {
    color: #ffffff;
}



.row {
    margin: 20px 20px;
}

.theme-container {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
        -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
        inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
        inset 7px 7px 3px rgba(209, 217, 230, 0.35),
        inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}