.bg-white {
    background-color: #141414 !important;
}

body {
    color: #1d2125;
}


.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #0080ff;
}